* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lora', sans-serif;
  font-size: 17px;
}

.bg-image {
  position: fixed;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  /* width: 100%;
  height: 100vh; */

  background-color: white;
  background-image: url(../css/bg_img/React.png), url(../css/bg_img/bg.jpeg);
  background-repeat: no-repeat, repeat-x;
  background-repeat: no-repeat, repeat-y;
  background-size: 100px ,cover;
  background-position: 
  99% 15%,
  50% 50%;
}

/* Header */
.header-conteiner {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1280px;
  position: fixed;
}

.conteiner {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo>a {
  font-size: 38px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(243, 5, 5);
}

.logo>a:active {
  color: blue;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  font-size: 24px;
  font-weight: 600;
}

.nav-list {
  display: flex;
  padding: 0 20px;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: rgb(243, 5, 5);
  transition: 0.5s;
}

.nav-link:hover {
  color: green;
  transform: scale(1.1) translateY(5px);
}

.nav-link:active {
  color: blue;
}

.nav-link-action {
  color: orange;
  text-decoration: none;
}

.nav-link-action:active {
  color: blue;
}

/* Main */

/* Articles */
.main-conteiner {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #70d9ea;
  min-height: 100vh;
  padding: 100px 0 50px 0;
  background-image: url(../css/bg_img/bg2.jpeg);
}

h1 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


.content {
  max-width: 980px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cpu,
.ram,
.videocard {
  margin-bottom: 20px;
}

.ram-title,
.cpu-title,
.videocard-title {
  margin-bottom: 20px;
  border-bottom: 2px solid lightcoral;
}

.content-link {
  text-decoration: none;
  color: black;
}

.comments-link {
  text-decoration: none;
  color: yellow;
}

.article-link {
  text-decoration: none;
  color: orange;
}

.short-articles {
  background-color: red;
}

.comments {
  margin-top: 10px;
}

/* Cpu, Ram, Videocard */

.title {
  display: flex;
  margin: 30px 20px 10px;
}

.different-first-letter::first-letter {
  font-family: 'Courier New', Courier, monospaces;
  font-size: 32px;
  color: green;
}

.title-list {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.life-comments {
  display: flex;
  flex-direction: column;
}

.name-commenters {
  max-width: 200px;
  margin: 15px 10px;
  font-size: 18px;
}

.comment {
  background-color: yellow;
}

/* Catalog */

.new::after {
  content: "new";
  background: orange;
  color: aliceblue;
  font-size: 70%;
  padding: 2px;
  margin-left: 2px;
}

.list-catalog {
  list-style-type: circle;
  max-width: 980px;
  margin: 0 auto;
}

.list-catalog-name {
  margin: 5px 0 5px 50px;
  padding: 5px 0;
  list-style: outside url();
  font-size: 20px;
}

/* Contacts / Registration */

.contacts-conteiner { 
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}

.contact-title {
  padding-bottom: 7px;
}

.contact-map {
  border-radius: 10px;
}

.form-wrap {
  max-width: 500px;
  margin: 1em auto 1.5em;
  background-color: #70eae2;
  border-radius: 10px;
  height: 100%;
}

.form-wrap-title {
  display: flex;
  text-align: start;
  font-size: 20px;
  margin-left: 20px;
}

.form-list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  text-align: start;
  padding: 5px 0;
}

.form-input {
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

.form--input {
  text-transform: capitalize;
}

.input-radio,
.input-checkbox {
  display: flex;
  margin: 5px 50px;
}

input[type="radio"], 
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input[type="checkbox"]:hover{
  outline: 2px dashed black;
}

input[type="radio"]:hover {
  outline: 2px dashed black;
  padding: 10px;
}


.form-text {
  resize: vertical;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  max-height: 300px;
}

.button {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

button {
  min-width: 400px;
  height: 30px;
  background-color: #de70ea;
  border-radius: 10px;
  font-size: 20px;
}



/* Gallery */

.main-gallery {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 100px 0 50px 0;
}


.gallery {
  display: flex;
  margin: 0 auto;
}

.gallery-item {
  margin: 20px;
  padding: 5px;
  border: 5px solid red;
  border-radius: 10px;
}

.gallery-item:hover {
  border: none;
  margin: 20px;
  padding: 10px;
}

figcaption {
  display: flex;
  justify-content: center;
  color: rgb(42, 160, 138);
  font-size: 30px;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Navigation */

.chapter, .nav-chapter {
  display: flex;
  justify-content: center;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.chapter-list {
  text-decoration: none;
  display: flex;
  padding: 3px;
  margin-left: 10px;
  font-size: 30px;
  border: 3px solid #a40af0;
  border-radius: 7px;
  background-color: yellow;
  color: blue;
}

.chapter-list:hover {
  color: grey;
}

.text {
  max-width: 980px;
  margin: 0 auto;
}

.text > p {
  padding-bottom: 30px;
  font-size: 18px;
}

.text-title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 40px;
}

.back {
  display: flex;
  justify-content: center;
}

.back > a {
  text-decoration: none;
  font-size: 20px;
  color: blue;
  border: 2px solid;
  border-radius: 5px;
  padding: 7px;
  background-color: yellow;
}

/* Footer */
.footer {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}

.footer-text {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5px;
}