* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lora', sans-serif;
  font-size: 17px;
}

body {}

.bg-image {
  position: fixed;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  /* width: 100%;
  height: 100vh; */

  background-color: white;
  background-image: url(../css/bg_img/React.png), url(../css/bg_img/bg.jpeg);
  background-repeat: no-repeat, repeat-x;
  background-repeat: no-repeat, repeat-y;
  background-size: 100px, cover;
  background-position:
    99% 15%,
    50% 50%;
}

/* Header */
.header-conteiner {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1280px;
  position: fixed;
}

.conteiner {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo>a {
  font-size: 38px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(243, 5, 5);
}

.logo>a:active {
  color: blue;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  font-size: 24px;
  font-weight: 600;
}

.navigation li {
  display: flex;
  padding: 0 20px;
  list-style-type: none;
}

.navigation li>a {
  text-decoration: none;
  color: rgb(243, 5, 5);
  transition: 0.5s;
}

.navigation li>a:hover {
  color: green;
  transform: scale(1.1) translateY(5px);
}

.navigation li>a:active {
  color: blue;
}

.nav-bar .nav-link-action {
  color: orange;
  text-decoration: none;
}

.nav-link-action:active {
  color: blue;
}

/* Main */

/* Articles */
.main-conteiner-articles,
.main-conteiner-catalog,
.main-conteiner-contacts,
.main-conteiner-navigation,
.main-conteiner-registration,
.main-conteiner-cpu,
.main-conteiner-rum,
.main-conteiner-videocard {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 0 70px 0;
  min-height: 100vh;
  background-color: #70d9ea;
  background-image: url(../css/bg_img/bg2.jpeg);
}

.main-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
  height: 100vh;
}

.subtitle {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.btn-set {
  max-width: 500px;
  margin: 25px auto;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.btn-link {
  background-color: #ffbe41;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-link:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


.content {
  max-width: 980px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cpu p,
.ram p,
.videocard p {
  padding: 20px;
  margin-bottom: 10px;
}


.ram-title,
.cpu-title,
.videocard-title {
  margin-bottom: 20px;
  border-bottom: 2px solid lightcoral;
}

a {
  text-decoration: none;
  color: black;
}

.article-text {
  background-color: red;
}

.article-text>p>a {
  color: orange;
}

.comments>p>a {
  color: yellow;
}

/* Cpu, Ram, Videocard */

.cpu-articles h2,
.rum-articles h2,
.videocard-articles h2,
.comments h2 {
  display: flex;
  margin: 30px 20px 10px;
}

.cpu-articles>p::first-letter,
.rum-articles>p::first-letter,
.videocard-articles>p::first-letter {
  font-family: 'Courier New', Courier, monospaces;
  font-size: 32px;
  color: green;
}

.cpu-articles ul,
.cpu-articles ol,
.rum-articles ul,
.rum-articles ol,
.videocard-articles ul,
.videocard-articles ol {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.life-comments {
  display: flex;
  flex-direction: column;
}

.life-comments p:first-child {
  max-width: 200px;
  margin: 15px 10px;
  font-size: 18px;
}

.life-comments p:last-child {
  padding: 20px;
  background-color: yellow;
}

/* Catalog */

.new::after {
  content: "new";
  background: orange;
  color: aliceblue;
  font-size: 70%;
  padding: 2px;
  margin-left: 2px;
}

.catalog ul {
  list-style-type: circle;
  max-width: 980px;
  margin: 0 auto;
}

.catalog li>ul {
  margin: 5px 0 5px 50px;
  padding: 5px 0;
  list-style: outside url();
  font-size: 20px;
}

/* Contacts / Registration */

.contacts-conteiner {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}

.contacts-conteiner h2 {
  padding: 7px;
}

.contacts-conteiner iframe {
  border-radius: 10px;
}

.form-wrap {
  max-width: 500px;
  margin: 1em auto 1.5em;
  background-color: #70eae2;
  border-radius: 10px;
  height: 100%;
}

.form-list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  text-align: start;
  padding: 5px 0;
}

legend {
  display: flex;
  text-align: start;
  font-size: 20px;
  margin-left: 20px;
}

input {
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

input[name="lastname"],
input[name="name"],
input[name="surname"] {
  text-transform: capitalize;
}

input[type="radio"],
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 5px 10px 0 50px;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
  outline: 2px dashed black;
}

textarea {
  resize: vertical;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  max-height: 300px;
}

.button {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

button {
  min-width: 400px;
  height: 30px;
  background-color: #de70ea;
  border-radius: 10px;
  font-size: 20px;
}

/* Gallery */

.main-gallery {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 100px 0 50px 0;
}

.gallery {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.gallery-item {
  width: 320px;
  height: 370px;
  margin: 20px;
  padding: 5px;
  border: 5px solid red;
  border-radius: 10px;
}

.gallery-item:hover {
  border: none;
  margin: 20px;
  padding: 10px;
}

figcaption {
  display: flex;
  justify-content: center;
  color: rgb(42, 160, 138);
  font-size: 30px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Navigation */

.chapter,
.nav-chapter {
  display: flex;
  justify-content: center;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.chapter-list {
  text-decoration: none;
  display: flex;
  padding: 3px;
  margin-left: 10px;
  font-size: 30px;
  border: 3px solid #a40af0;
  border-radius: 7px;
  background-color: yellow;
  color: blue;
}

.chapter-list:hover {
  color: grey;
}

.chapter-text {
  max-width: 980px;
  margin: 0 auto;
}

.chapter-text>p {
  padding-bottom: 30px;
  font-size: 18px;
}

.chapter-text h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.anchor {
  position: relative;
}

.anchor>span {
  position: absolute;
  top: -100px;
}


.chapter-text p>a {
  margin: 0 auto;
  width: 350px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: blue;
  border: 2px solid;
  border-radius: 5px;
  padding: 7px;
  background-color: yellow;
}

/* Footer */
.footer-wrap {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #000000;
}

.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #ffffff;
}